@{
    ViewData["Title"] = "Index";
}

<h2>National Parks</h2>
<hr />

<div>
    <p>
        This application let's you fetch data from National Park Service via their public <a href="https://www.nps.gov/subjects/developer/api-documentation.htm#/" target="_blank">API</a>.
        <br />
        <br />
        In order to use this application, all you need to do is get the API key from this <a href="https://api.data.gov/signup/" target="_blank">page</a>. Signup using your usf mail, the api key will be sent to you through email. Copy the key and paste it on line no 15 in APIHandlerManager/APIHandler.cs and re run the application.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Parks">Parks</a> tab fetches parks data from the
        <a href="https://developer.nps.gov/">National Park Service API </a> and displays the results.
        <br />
        <br />
    </p>

    <p>
        Following learning objectives are fulfilled -
        <ul>
            <li>Connection to REST API using API key.</li>
            <li>Consuming the data from the REST API.</li>
        </ul>
    </p>
</div>